# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environment
venv/
.env

# FastAPI / logs
*.log

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Node (for future frontend)
node_modules/
dist/
build/

# Docker
*.env